# Node.js
npm-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Директории и файлы, связанные с зависимостями
package-lock.json
yarn.lock

# Логи
*.log

# PostgreSQL
*.sql
*.sqlite

# Базы данных (если используются SQLite или подобные БД)
*.db

# React
build/
coverage/

# Директории для тестов
*.test.js
*.spec.js

# Системные файлы и другие временные файлы
.DS_Store
Thumbs.db
*.bak
*.swp

# IDE и редакторы
.vscode/
